{% extends "main.html" %}
{% load static %}

{% block google_fonts %}

{% include "dashboard/includes/common/google-fonts.html" %}

{% endblock google_fonts %}


{% block vendor_css_files %}

{% include "dashboard/includes/common/vendor-css.html" %}

{% endblock vendor_css_files %}


{% block template_main_css_file %}

{% include "dashboard/includes/common/main-css.html" %}

{% endblock template_main_css_file %}


{% block template_main_section %}

{% include "dashboard/includes/sections/header.html" %}
{% include "dashboard/includes/sections/sidebar.html" %}

<main id="main" class="main">
    {% include "dashboard/includes/sections/page-title.html" %}

    {% block page-content %}{% endblock page-content %}
</main>

{% endblock template_main_section %}



{% block template_footer_section %}

{% include "dashboard/includes/sections/footer.html" %}

{% endblock template_footer_section %}



{% block template_arrow_up_short_section %}

{% include "dashboard/includes/sections/arrow-up-short.html" %}

{% endblock template_arrow_up_short_section %}



{% block vendor_js_files %}

{% include "dashboard/includes/common/vendor-js.html" %}

{% endblock vendor_js_files %}



{% block template_main_js_file %}

<script src="{% static "dashboard/js/main.js" %}"></script>

{% endblock template_main_js_file %}
