{% load static %}
{% load widget_tweaks %}

<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static "accounts/img/signin-image.jpg" %}" alt="signin image"></figure>
                <a href="{% url "account_signup" %}" class="signup-image-link">Create an account</a>
            </div>
            <div class="signin-form">
                <h2 class="form-title">Sign In</h2>
                <form method="POST" class="register-form" id="login-form" action="{% url "account_login" %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.login.id_for_label }}"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        {{ form.login }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}"><i class="zmdi zmdi-lock"></i></label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        {{ form.remember|add_class:"agree-term" }}
                        <label for="{{ form.remember.id_for_label }}" class="label-agree-term"><span><span></span></span>{{ form.remember.label }}</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>